<?xml version="1.0" encoding="utf-8" ?>
<Menu>
	<Categorias>
		<Categoria Nombre="Todos"></Categoria>
		<Categoria Nombre="Destacados"></Categoria>
		<Categoria Nombre="Ofertas relámpago"></Categoria>
		<Categoria Nombre="De último minuto"></Categoria>
	</Categorias>
	<Lista>
		<Elemento>
			<Titulo>Productos de Calidad</Titulo>
		</Elemento>
		<Elemento>
			<Titulo>Precio justo</Titulo>
		</Elemento>
		<Elemento>
			<Titulo>Mano de obra local</Titulo>
		</Elemento>
		<Elemento>
			<Titulo>Reconocimiento internacional</Titulo>
		</Elemento>

	</Lista>
	<Items>
		<Item Numero="1" Nombre="La mejor Oferta" Descripción="Novedades en Venta">
		</Item>
		<Item Numero="2" Nombre="Ofertas relámpago" Descripción="Obtén los Mejores Productos">
		</Item>
		<Item Numero="3" Nombre="Último minuto" Descripción="consigue ofertas de última hora">
		</Item>
		<Item Numero="4" Nombre="Precios Justos" Descripción="Los mejores precios del mercado">
		</Item>
	</Items>
	<Opciones>
		<Opcion Url="/Default.aspx?Id=0" Texto="Inicio" Id="0"></Opcion>
		<Opcion Url="/Default.aspx?Id=1" Texto="Productos" Id="1"></Opcion>
		<Opcion Url="/Default.aspx?Id=2" Texto="Nosotros" Id="2"></Opcion>
		<Opcion Url="/Default.aspx?Id=3" Texto="Contacto" Id="3"></Opcion>
		<Opcion Url="/Default.aspx?Id=4" Texto="Extras" Id="4"></Opcion>
	</Opciones>
	<Prendas>
		<Tipo Nombre="Calzado">
			<Prenda Nombre="Botas pal' frío" Id="0">
				<Descripcion>Unas botitas pa' cuando vayas a la montaña o a un lugar que haga chingo de frío ALV!</Descripcion>
				<Precio>$850</Precio>
				<Imagen>/assets/images/product_01.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Botas con peluche" Id="1">
				<Descripcion>Unas botitas con peluche bien chulas</Descripcion>
				<Precio>$750</Precio>
				<Imagen>/assets/images/product_011.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Botas con MÁS peluche" Id="2">
				<Descripcion>Unas botitas con MÁS peluche bien chulas</Descripcion>
				<Precio>$750</Precio>
				<Imagen>/assets/images/product_012.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Botas medias piratonas" Id="3">
				<Descripcion>Botas medias piratonas, pero hay raza que les gustan</Descripcion>
				<Precio>$1,050</Precio>
				<Imagen>/assets/images/product_013.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Botas para la nieve" Id="4">
				<Descripcion>Calzado en tendencia para montaña</Descripcion>
				<Precio>$1,850</Precio>
				<Imagen>/assets/images/product_014.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Botines" Id="5">
				<Descripcion>Botines de invierno para dama</Descripcion>
				<Precio>$1,899</Precio>
				<Imagen>/assets/images/product_015.jpg</Imagen>
			</Prenda>
		</Tipo>
		<Tipo Nombre="Gorros">
			<Prenda Nombre="Gorrito pal' frío" Id="2">
				<Descripcion>Gorritos bara bara pa' cuando vayas a la montaña o a un lugar que haga chingo de frío tambien como no ALV!</Descripcion>
				<Precio>$250</Precio>
				<Imagen>/assets/images/product_02.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Conjunto" Id="2">
				<Descripcion>Conjunto de gorro y bufanda para caballero</Descripcion>
				<Precio>$350</Precio>
				<Imagen>/assets/images/product_020.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Gorro unisex" Id="2">
				<Descripcion>Gorro en colores varios unisex</Descripcion>
				<Precio>$250</Precio>
				<Imagen>/assets/images/product_021.jpg</Imagen>
			</Prenda>
		</Tipo>
		<Tipo Nombre="Bufandas">
			<Prenda Nombre="Bufandas de colores" Id="0">
				<Descripcion>Bufandas baras pa' que no se te congele el buche</Descripcion>
				<Precio>$350</Precio>
				<Imagen>/assets/images/product_03.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Bufanda grande" Id="1">
				<Descripcion>Bufanda tipo chal en variedad de colores</Descripcion>
				<Precio>$550</Precio>
				<Imagen>/assets/images/product_030.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Bufandas amarilla" Id="2">
				<Descripcion>Bufanda grande en color amarillo</Descripcion>
				<Precio>$550</Precio>
				<Imagen>/assets/images/product_031.jpg</Imagen>
			</Prenda>
		</Tipo>
		<Tipo Nombre="Regalos">
			<Prenda Nombre="Regalitos navideños" Id="4">
				<Descripcion>Muñequitos de nieve hechos de tela o cualquier otra pendejada pa' que regales en navidá</Descripcion>
				<Precio>$150</Precio>
				<Imagen>/assets/images/product_04.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Copas navideñas" Id="4">
				<Descripcion>Paquete de copas navideñas con diseños variados</Descripcion>
				<Precio>$1,250</Precio>
				<Imagen>/assets/images/product_060.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Arbolito" Id="4">
				<Descripcion>Arbolito de navidad a escala hecho a mano</Descripcion>
				<Precio>$50</Precio>
				<Imagen>/assets/images/product_061.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Vela" Id="4">
				<Descripcion>Vela color blanco adornada con flores</Descripcion>
				<Precio>$250</Precio>
				<Imagen>/assets/images/product_062.jpg</Imagen>
			</Prenda>
		</Tipo>
		<Tipo Nombre="Suéteres">
			<Prenda Nombre="Suéteres calientitos" Id="5">
				<Descripcion>Suéters bien padres pa' que luzcas bien perrón y no te congeles cuando haga frío pinche perro!</Descripcion>
				<Precio>$650</Precio>
				<Imagen>/assets/images/product_05.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Suéter a colores" Id="5">
				<Descripcion>Suéter de colores tejido a mano</Descripcion>
				<Precio>$1,250</Precio>
				<Imagen>/assets/images/product_050.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Suéter unisex" Id="5">
				<Descripcion>Suéter unisex bicolor, rojo y blanco</Descripcion>
				<Precio>$650</Precio>
				<Imagen>/assets/images/product_051.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Suéteres a rayas" Id="5">
				<Descripcion>Suéter a rayas para mujer</Descripcion>
				<Precio>$650</Precio>
				<Imagen>/assets/images/product_052.jpg</Imagen>
			</Prenda>
		</Tipo>
		<Tipo Nombre="Adornos">
			<Prenda Nombre="Adornitos Navideños" Id="6">
				<Descripcion>Chingaderas pa' que cuelgues en tu arbolito navieño culero si es que tienes sino no compres ALV!</Descripcion>
				<Precio>$80</Precio>
				<Imagen>/assets/images/product_06.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Paquete esferas" Id="4">
				<Descripcion>Paquete de esferas en color rojo</Descripcion>
				<Precio>$150</Precio>
				<Imagen>/assets/images/product_041.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Esfera mediana" Id="4">
				<Descripcion>Esfera tamaño mediano color dorado para arbol de navidad</Descripcion>
				<Precio>$50</Precio>
				<Imagen>/assets/images/product_040.jpg</Imagen>
			</Prenda>
			<Prenda Nombre="Corona" Id="4">
				<Descripcion>Corona grande navideña color dorado</Descripcion>
				<Precio>$250</Precio>
				<Imagen>/assets/images/product_042.jpg</Imagen>
			</Prenda>
		</Tipo>
	</Prendas>
	<Team>
		<Members>
			<Member Nombre="Al Coholic">
				<Puesto>Fundador</Puesto>
				<Descripcion>Éste vato es el fundador y es la mera pistola pa' los bisnes, tiene otros negocios tambien, no, no es narco.</Descripcion>
				<Imagen>/assets/images/team_01.jpg</Imagen>
			</Member>
			<Member Nombre="Estoyca Chondo">
				<Puesto>Experta en productos</Puesto>
				<Descripcion>Ésta morra es la mera chicles pa' los productos que vendemos, aunque usted no lo crea.</Descripcion>
				<Imagen>/assets/images/team_02.jpg</Imagen>
			</Member>
			<Member Nombre="Phillip Ollas">
				<Puesto>Jefe de Marketing</Puesto>
				<Descripcion>Éste vato es el de todo el rollo de mercadotenia, si estamos bien posicionados es por el.</Descripcion>
				<Imagen>/assets/images/team_03.jpg</Imagen>
			</Member>
			<Member Nombre="Tess T. Culls">
				<Puesto>Especialista en productos</Puesto>
				<Descripcion>Ésta morra es la especialista en productos.</Descripcion>
				<Imagen>/assets/images/team_04.jpg</Imagen>
			</Member>
			<Member Nombre="Empel Otas">
				<Puesto>Fotógrafo de Productos</Puesto>
				<Descripcion>Éste man saca unas fotitos bien chulas pa' nuestros productos</Descripcion>
				<Imagen>/assets/images/team_05.jpg</Imagen>
			</Member>
			<Member Nombre="Elsa Badón">
				<Puesto>Manager</Puesto>
				<Descripcion>Éste morra es la de las decisiones chakas</Descripcion>
				<Imagen>/assets/images/team_06.jpg</Imagen>
			</Member>
		</Members>
	</Team>
	<Destacado>
		<Caracteristica Nombre="Administración de Producto">
			<Descripcion>No es por nada pero contamos con un stock y una logística perrona de nuestros productos</Descripcion>
		</Caracteristica>
		<Caracteristica Nombre="Relaciones con el Cliente">
			<Descripcion>Mantenemos una relación estrecha con nuestros clientes y es de primera clase Pa</Descripcion>
		</Caracteristica>
		<Caracteristica Nombre="Coleccion Global">
			<Descripcion>Contamos con una colección de productos que ni Obama tiene amigo</Descripcion>
		</Caracteristica>
	</Destacado>
	<Datos>
		<Empresa>BLEUROSE</Empresa>
		<Descripcion>BleuRose es una empresa recién fundada con experiencia en el mercado ofreciendo prendas de invierno de calidad a precio justo y duraderas.</Descripcion>
		<Direccion>Blvd. San Felipe #222 Col. Valle del Ángel, Puebla, Pue.</Direccion>
		<Telefono>222-333-4553</Telefono>
		<Imagen>/assets/images/pinkbear.jpg</Imagen>
	</Datos>
</Menu>